<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La Comarca Pergamino: tienda de indumentaria urbana para hombres, en este lugar conseguí la mejor ropa para vestirte todos los días">    
    <meta name="keywords" content="REMERAS, BUZOS, CAMPERAS, CAMISAS, BILLETERAS, BOXERS, GORRAS, JEANS">
    <link rel="shortcut icon" href="../assets/favicon/favicon-32x32.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title> Nuestro Lugar </title>
</head>
<body>
    <container class="container">
        <header class="header">
            <nav class="navbar navbar-expand-lg" style="background-color: #fadfbf">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/index.html"> 
                    <img src="../assets/fotos/LOGO (2).png" alt="logoSitio" width="100px">
                </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="../index.html"> Home </a>
                      <a class="nav-link" href="../views/productos.html"> Productos </a>
                      <a class="nav-link" href="../views/quienesSomos.html"> Quienes Somos </a>
                      <a class="nav-link" href="./nuestroLugar.html"> Nuestro lugar </a>
                      <a class="nav-link" href="../views/contacto.html"> Contacto </a>
                    </div>
                  </div>
                </div>
              </nav>
        </header>
        <titulo class="titulo">
            <h1>
                Nuestro Lugar
            </h1>
        </titulo>
        <main class="main">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d299694.0879932762!2d-60.578577332416025!3d-33.910685408642095!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59ee9b4597143f6b!2sLa%20Comarca!5e0!3m2!1ses-419!2sar!4v1665510806422!5m2!1ses-419!2sar" width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe class="conBorde">
            </div>
            <div class="entrada">
                <img src="../assets/fotos/frente comarca.jpg" alt="frenteComarca" width="100%" height="600px" class="conBorde">
            </div>
        </main>
        <footer class="footer">
            <div class="ubicacion">
                <p>
                    Av. Juan B. Justo 1765
                </p>
                <p>
                    Pergamino
                </p>
            </div>
            <div class="autor">
                <p>
                    Copyright 2013
                </p>
                <p>
                    Todos los derechos reservados
                </p>
                <p class="diseño">
                    Diseño y desarrollo por Alejo Paganini
                </p>
            </div>
            <div class="redes">
                <p> SEGUINOS </p>
                <div class="iconos">
                    <a href="https://www.instagram.com/lacomarcapergamino/" target="_blank"><img src="../assets/fotos/ig.png" alt="logoIG"></a>
                    <a href="https://www.facebook.com/lacomarcahombres" target="_blank"> <img src="../assets/fotos/fb.png" alt="logoFB"></a>
                </div>
            </div>
        </footer>
      </container>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
</body>
</html>